.nav{  
    font-size: 25px;
    padding: 80px;
    background-color: rgb(212, 4, 39);
}

body{

    background-color: rgb(77, 1, 1);
}

#foto{
    margin-top: -240px;
    margin-left: 50px;
    margin-right: 750px;
    border-radius: 50%;
    }

.d-block{
    margin-left: 350px;
}    

.titulo{
    font-size: large;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 88px;
}

.copi{
    font-size: 11px;
    text-align: center;
    color: #FFFFFF;
    background-color: #2884b2;
    padding: 10px 0;

}


.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

}
.bg-dark{
    background-color: #343a40!important;

}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}


.nav-item{
background-color: brown;
}
